body{
   display: flex;
   justify-content: center;
   align-items: center;

}
.container{
    max-width: 500px;
    padding:20px;
   
    width: 500px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
h1{
    text-align: center;
    text-decoration: underline;
}

label{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#password{
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    border:none;
    border-radius:5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#generate{
    margin-top: 20px;
    background-color: #4caf50;
    color:white;
    border:none;
    padding:15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 5px;
    
}
#generate:hover{
    background-color: #3e8e41;
}